.blog-feedback
  h2 Tem algum comentário?
  p Adoraríamos ouvir seu feedback via Twitter <a href="https://twitter.com/intent/tweet?text=@querostartae%20&amp;related=startae" target="blank">@querostartae</a>