body.page-blog
  +adjust-font-size-to(18px)
  +adjust-leading-to(1)
  +sans-serif("Enriqueta")
  font-weight: 400



  &.section-article

    #main
      +span-columns(10,16)
      +pre(3)
      +padding-trailer(2)
      
      .entry-content
        border-bottom: 1px solid rgba(#000, .1)
        +padding-trailer(3)

      .blog-feedback
        background-color: rgba(#333, .1)
        +margin-leader(3)
        +padding-leader(0)
        +padding-trailer(0)
        padding: 20px
        +border-radius(4px)

        h2
          margin: 0
          padding: 0

        p
          +margin-leader(.5)
          +margin-trailer(0)


    #secondary
      +span-columns(10,16)
      +pre(3)
      +padding-trailer(2)

      #recent-posts
        +span-columns(10,10)

        li
          border-bottom: 1px solid #ddd

          &:last-of-type
            border-bottom: none

          a
            +padding-trailer(1)

      #categories
        display: none




  &.section-home

    #secondary
      +span-columns(4,16)
      +pre(1)

      aside
        +padding-leader(2)

        &:first-of-type
          +padding-leader(0)

    #main
      +span-columns(9 omega,16)
      +post(1)
      +padding-trailer(2)

      article
        position: relative
        border-bottom: 1px solid rgba(#000, .1)
        +margin-leader(3)
        +padding-trailer(3)

        &:first-of-type
          +margin-leader(0)
      
        .entry-meta
          position: absolute
          top: 0
          right: -88px
          color: #999
          +adjust-font-size-to(13px)
          +adjust-leading-to(1)
          width: 80px

          a
            color: #999


  article
    .entry-content

      ul
        +margin-leader(1)
        li
          list-style-type: square
          margin-left: 1.2em
          +margin-leader(.5)
          +margin-trailer(.5)

      a
        color: $purple
        font-weight: 700
        text-decoration: none

        &:hover
          color: $white
          background-color: $purple

      .float-image
        +pie-clearfix

        img
          margin-top: 0 !important

        &.left
          img
            +float-left
            padding: 0 10px 10px 0

        &.right
          img
            +float-right
            padding: 0 0 10px 10px


      video, audio, iframe, img
        +margin-leader(1)

  section.container
    +container
    +padding-leader(2)
    
    #main
      h1
        +adjust-font-size-to(34px)
        +adjust-leading-to(1.7)
        +sans-serif("Source Sans Pro")
        font-weight: 600
        letter-spacing: -.05em
        color: $black

        a
          color: $black
          text-decoration: none
          background-color: transparent
          font-weight: 600
          &:hover
            color: $purple

      h2
        +adjust-font-size-to(22px)
        +adjust-leading-to(1.2)
        +sans-serif("Enriqueta")
        font-weight: 700
        +margin-leader(2)

      p
        +margin-leader(1.5)
        +adjust-leading-to(1.2)
        color: #444
    
      b
        font-weight: 700

  #secondary

    aside
      +pie-clearfix

      h2
        +adjust-font-size-to(20px)
        +adjust-leading-to(1)
        +sans-serif("Source Sans Pro")
        font-weight: 600
        letter-spacing: -.05em
        color: $black
        text-transform: uppercase
    
      ol
        +margin-leader(1)

        li
          +adjust-font-size-to(17px)
          +adjust-leading-to(1)
          +sans-serif("Source Sans Pro")
          font-weight: 400
          a
            +padding-leader(1)

          &:fisrt-of-type
            +margin-leader(0)

          a
            color: $black
            display: block
            position: relative

            time
              display: none

            &:hover
              color: $purple

    aside#categories
      ol
        li
          +inline-list
          +adjust-font-size-to(14px)
          +adjust-leading-to(1)

          a
            background-color: $purple
            +border-radius(4px)
            padding: 4px 6px
            color: $white
            +inline-block
            margin: 0 4px 4px 0

            &:hover
              text-decoration: none
              background-color: darken($purple, 15%)