---
title: 'Bicicleta e trabalho'
summary: 'Tratar sua empresa como experimento é uma ótima maneira de encarar o fracasso mais tranquilamente e ver que isso não deve ser uma vergonha para nenhum de nós. Todos erramos e aprendemos com isso, faz parte do ciclo de evolução. A questão é, precisamos perceber até que ponto...'
date: 2013-02-18 08:00:00 -03:00
tags: estilo de vida, inspire-se
author: 'renato'

thumb: 'http://blog.startae.com.br/images/articles/2012-10-15/batman-01.jpg'
---

.fluid-image
  img src="/images/articles/2012-10-15/batman-01.jpg" width="580" height="285"
  p.caption Imagens do filme Batman: o Cavaleiro das Trevas Ressurge. &copy; 2012 Warner Bros
p Se você já foi ou assistiu algum evento relacionado à Startups, com certeza já ouviu a famosa frase <b>“Fail early and fail often”</b> (Falhe cedo e falhe com frequência), que basicamente significa que você deve estar frequentemente fazendo experimentos no seu negócio com o objetivo de validar hipóteses criadas por você e seus sócios. Tratar sua empresa como experimento é uma ótima maneira de encarar o fracasso mais tranquilamente e ver que isso não deve ser uma vergonha para nenhum de nós. Todos erramos e aprendemos com isso, faz parte do ciclo de evolução. A questão é, precisamos perceber até que ponto essa tranquilidade em relação à erros constantes nos faz crescer verdadeiramente. Muitas pessoas são impactadas por esse experimento, a começar por você e sua família.
span SPLIT_SUMMARY_BEFORE_THIS
p Principalmente na fase inicial de um negócio, a maioria das ideias que temos e soluções que criamos não passam de suposições e até que você pare de falar e comece a agir, elas irão continuar sendo apenas isso, suposições. Nesse sentido é importante que você tire seu negócio do papel o quanto antes e comece a receber feedback de clientes reais. Esses irão te guiar e mostrar onde os seus principais erros estão. É quando você entra no ciclo de aprendizado (construir-medir-aprender) e cada interação passa a ser um experimento que irá validar ou não a hipótese que havia sido criada.
p http://www.kickstarter.com/projects/1447255188/comodo-0
p http://vimeo.com/45360751
