---
title: "Palestra: Pensamento Compartilhado (Flavio Ludgero no Ossobuco)"
date: 2012-07-27T16:00:00
tags: eventos, dicas
---

img src="https://dl.dropbox.com/s/y2xduw10evkkwuj/ossobuco.jpeg"
p Vamos compartilhar um pensamento nesta 2ª?
p Reserve na sua agenda: 2ª feira (30 de Julho), as 20h, na Livraria Cultura - Shopping Iguatemi Brasília.
p O Flavio vai falar sobre “Pensamento Compartilhado”
p Acesso o site do Ossobuco para ver mais informações sobre o evento e também ver vídeos dos eventos passados: <a href="http://ossobu.co">http://ossobu.co</a>