---
title: "Apresentamos o blog do Startaê"
date: 2012-06-14T16:00:00
tags: novidades
author: "Renato Carvalho"
author_link: "https://twitter.com/renatolz"
---

p Olá pessoal, este é o blog do Startaê. Temos um perfil no <a href="http://twitter.com/querostartae">Twitter</a> e no <a href="https://www.facebook.com/startae">Facebook</a> que são ótimas ferramentas para nos aproximar do público que já nos conhece ou que acabou de conhecer e que nos permite compartilhar novidades, pequenos pensamentos, etc.
p Porém queremos compartilhar nosso dia-a-dia, nossas experiências, artigos mais técnicos  com todos, não só com pessoas que tem twitter ou facebook e acreditamos que este blog será a ferramenta perfeita.
p Então seja bem-vindo! Acompanhe nosso blog, participe, divulgue. Até breve!