---
title: 'Cadeia alimentar das Startups'
date: 2012-07-09 16:20:00 -03:00
/ tags: empreendedorismo, inspire-se
author: 'flavio'
author_link: 'https://twitter.com/flavioludgero'
thumb: 'http://blog.startae.com.br/images/articles/2012-07-09/startup-ecosystem-infographic.png'
published: true
---

span SPLIT_SUMMARY_BEFORE_THIS
.fluid-image
  img src="/images/articles/2012-07-09/startup-ecosystem-infographic.png" width="580"
  p.caption Source: <a href="http://blog.udemy.com">Udemy Blog</a>
