---
title: "Video: Apple Apps are Life changer"
date: 2012-07-13T16:00:00
tags: inspire-se
---

p Tirar sua ideia do papel e fazer o que ama é muito bom. Fazer diferença na vida das pessoas é a razão pela qual estamos aqui.
p Este video da Apple sintetiza muito bem isso.
iframe width="100%" height="315" src="http://www.youtube.com/embed/5wYmU3FCwcM?rel=0" frameborder="0" allowfullscreen