---
title: 'Concentra DF 2012: Retrospectiva'
summary: 'Acabamos de voltar do Concentra DF 2012 - Encontro de Empresas Juniores do Distrito Federal. Este ano, juntamente com o pessoal da Intacto e da SEA tivemos a oportunidade de participar da programação. Preparamos uma oficina com o objetivo de inspirar esses empresários juniores a serem empreendedores, dar uma visão geral do mundo das startups, o mindset lean e também mostrar como utilizar o Design Thinking e Lean Canvas como ferramentas.'
date: 2012-10-23 16:20:00 -03:00
tags: eventos, oficina, concentra
author: 'renato'

thumb: 'http://blog.startae.com.br/images/articles/2012-10-23/concentra-01.jpg'
published: true
---

p Acabamos de voltar do <b><a href="http://www.concentradf.com.br" target="_blank">Concentra DF 2012</a></b> - Encontro de Empresas Juniores do Distrito Federal. Evento que também reuniu algumas empresas juniores de outros estados. Este ano, juntamente com o pessoal da <a href="http://www.intacto.com.br" target="_blank">Intacto</a> e da <a href="http://www.seatecnologia.com.br" target="_blank">SEA</a> tivemos a oportunidade de participar da programação.

span SPLIT_SUMMARY_BEFORE_THIS

p Dada a oportunidade, logo pensamos em uma forma de compartilhar coisas que estamos vivendo e aprendendo no nosso dia-a-dia como empreendedores.

p A premissa de nossa oficina foi <b>inspirar esses empresários juniores a serem empreendedores</b>, dar uma <b>visão geral do mundo das startups</b>, o <b>mindset lean</b> e também mostrar como utilizar o <b>Design Thinking</b> e <b>Lean Canvas</b> como ferramentas.

.fluid-image
  img src="/images/articles/2012-10-23/concentra-01.jpg" width="580" height="285"
  p.caption Foram 22 participantes das mais diversas áreas que vieram com muita disposição. Galera da Computação, Administração, Psicologia, Jornalismo, Desenho Industrial, Relações Internacionais e Engenharia Civil.



h2 Missão da dinâmica:<br> <b>"Redesenhar a experiência dos serviços de transporte"</b>.

p É muito comum querermos pensar na solução antes de investigar se o problema realmente existe. Então no <b>primeiro dia da oficina</b> utilizamos o <b>Design Thinking</b> como ferramenta para detectar os possíveis problemas, projetar as soluções e testá-las. E ao final da dinâmica conseguir desenhar um serviço que pudesse causar um impacto significativo sobre o usuário final.

.fluid-image
  img src="/images/articles/2012-10-23/design-thinking-01.jpg" width="580"
  p.caption O processo criativo baseado em torno da "construção de idéias". Empatizar, Definir, Idear, Prototipar e Testar.

.fluid-image
  img src="/images/articles/2012-10-23/concentra-02.jpg" width="580" height="437"
  p.caption <a href="https://www.facebook.com/media/set/?set=a.582155378477390.139742.419921591367437&type=1&l=0acc241bed" target="_blank">Veja mais fotos do evento</a>

p O <b>segundo dia da oficina</b> foi direcionado em transformar as soluções que foram desenvolvidas no primeiro dia em negócios. Utilizamos o <b>Lean Canvas</b> para isso. Uma ferramenta que nos permite descobrir de forma ágil se a ideia pode se tornar em um negócio viável, rentável, escalável, etc.

.fluid-image
  img src="/images/articles/2012-10-23/concentra-03.jpg" width="580" height="285"
  p.caption Lean Canvas em português traduzido adaptado e traduzido pelo Startaê. <a href="http://www.startae.com.br/time#tools" title="Fazer download do Lean Canvas" target="_blank">Download do Lean Canvas</a>

p Ao final do segundo dia fizemos um <i>fast-Dojo</i> onde cada grupo fez seu <i>pitch</i>, que nada mais é que uma apresentação rápida sobre a ideia. E após a apresentação, cada grupo recebeu feedbacks do restante do pessoal. Foram 10 ideias bem variadas e muito legais geradas a partir de um mesmo tema.

p A ideia que mais se destacou foi escolhida para receber uma premiação da organização, do <a href="http://www.startae.com.br/oficinas/adios-programadores#next-workshops" target="_blank">Startaê</a> e do <a href="http://viaja.la" target="_blank">Viaja.la</a> no final do evento. E o grupo que ganhou foi o <b>ColaBus</b> com membros da <a href="http://cjr.org.br" target="_blank">CjR</a> e <a href="http://www.concretaconsultoria.com.br" target="_blank">Concreta</a>.

p Esperamos participar de mais eventos como esse. Até a próxima :)
