---
title: "As 20 melhores Startups de 2011 e 2012"
date: 2012-07-19T16:00:00
tags: startups
---

p Escolhemos 3 que nos faz cair uma lágrima ;)

h2 Simple
p People keep their money in more than one place and they get charged a lot of money by every bank.
a href="https://www.simple.com"
  img src="https://dl.dropbox.com/s/oxmxomn1mpqwa7s/01.png"
p
  a href="https://www.simple.com" https://www.simple.com

h2 Lytro
p Lytro is the first light field camera that allows you to “shoot now and focus later. 
a href="http://www.lytro.com"
  img src="https://dl.dropbox.com/s/qzobkvwwy9del0m/02.png?dl=1"
p
  a href="http://www.lytro.com" http://www.lytro.com

h2 General Assembly
p General Assembly is a school for entrepreneurs with courses taught by the community and cheap desks to rent office space.
a href="http://generalassemb.ly"
  img src="https://dl.dropbox.com/s/fccbjdfkblo06xp/03.png"
p
  a href="http://generalassemb.ly" http://generalassemb.ly

p 
  b Vejas as outras 17 no <a href="http://www.businessinsider.com/20-best-startups-technology-inventions-2011-12?op=1">Business Insider</a>