---
title: "Tenha medo de falhar...SIM!"
summary: "Tratar sua empresa como experimento é uma ótima maneira de encarar o fracasso mais tranquilamente e ver que isso não deve ser uma vergonha para nenhum de nós. Todos erramos e aprendemos com isso, faz parte do ciclo de evolução. A questão é, precisamos perceber até que ponto..."
date: 2012-10-10 16:20:00 -03:00
tags: empreendedorismo, inspire-se
author: "Rafael Torales"
author_link: "https://twitter.com/rafaeltorales"
thumb: "/images/articles/2012-10-10/batman-01.jpg"
published: false
---

.fluid-image
  img src="/images/articles/2012-10-10/batman-01.jpg" width="580" height="285"
  p.caption Imagens do filme Batman: o Cavaleiro das Trevas Ressurge. &copy; 2012 Warner Bros
p Se você já foi ou assistiu algum evento relacionado à Startups, com certeza já ouviu a famosa frase <b>“Fail early and fail often”</b> (Falhe cedo e falhe com frequência), que basicamente significa que você deve estar frequentemente fazendo experimentos no seu negócio com o objetivo de validar hipóteses criadas por você e seus sócios. Tratar sua empresa como experimento é uma ótima maneira de encarar o fracasso mais tranquilamente e ver que isso não deve ser uma vergonha para nenhum de nós. Todos erramos e aprendemos com isso, faz parte do ciclo de evolução. A questão é, precisamos perceber até que ponto essa tranquilidade em relação à erros constantes nos faz crescer verdadeiramente. Muitas pessoas são impactadas por esse experimento, a começar por você e sua família.
/(READMORE)/
p Principalmente na fase inicial de um negócio, a maioria das ideias que temos e soluções que criamos não passam de suposições e até que você pare de falar e comece a agir, elas irão continuar sendo apenas isso, suposições. Nesse sentido é importante que você tire seu negócio do papel o quanto antes e comece a receber feedback de clientes reais. Esses irão te guiar e mostrar onde os seus principais erros estão. É quando você entra no ciclo de aprendizado (construir-medir-aprender) e cada interação passa a ser um experimento que irá validar ou não a hipótese que havia sido criada.
p Esse ciclo não acontece apenas na fase inicial de uma empresa. Esses ciclos devem acontecer frequentemente para que a empresa esteja em constante evolução. Caso contrário não irá demorar muito até que um concorrente venha e tome o seu lugar.
p Muitos erros aparecerão durante esses ciclos, por diversas vezes o trajeto da jornada será alterado e uma serie de mudanças serão realizadas no seu plano original. Não existe nenhum problema em relação a esses erros e mudanças além de não existir também absolutamente nenhum motivo para você se envergonhar deles. A pergunta é: <b>Você está realmente conseguido visualizar esses erros? E principalmente, você está conseguindo aprender e evoluir com eles?</b>
p Algumas pessoas acreditam que é normal falhar e por isso iniciam uma série de alterações ou "pivotadas" na ideia sem ao menos dedicar tempo suficiente para entender o que está verdadeiramente acontecendo de errado. Outras nem "pivotam" e já partem direto para uma nova ideia e assim vão, fazendo uma série de experimentos mal planejados que no final não irão gerar resultados satisfatórios. Muitas das vezes não é a sua hipótese que está errada, mas sim o seu experimento. Você acaba jogando fora boas ideias por não tê-las executado direito.
p Acredito que muito disso acontece porque as pessoas não levam sua ideia/negócio tão a sério. Alguns, por serem estudantes e ainda contarem com um certo apoio da família acham que não tem nada a perder. Outros, que já possuem um boa fonte de renda, levam o novo negócio como projeto paralelo tendo sempre baixa prioridade na sua grande lista de tarefas. E talvez o pior dos casos, aqueles que recebem investimentos de terceiros e não lidam com o dinheiro como se ele tivesse saido do próprio bolso.
.fluid-image
  img src="/images/articles/2012-10-10/batman-02.jpg" width="580" height="285"
  p.caption Imagens do filme Batman: o Cavaleiro das Trevas Ressurge. &copy; 2012 Warner Bros
p Para quem assistiu ao último filme do <b>Batman “O Cavaleiro das Trevas Ressurge”</b>, com certeza lembra de como ele finalmente conseguiu escalar o poço e voltar para Gotham City. Enquanto o Batman achava que a falta de medo da morte o ajudava, na verdade só o enfraquecia. A partir do momento em que ele decide tirar a corda de segurança e sua vida depende de um único salto, surgem força, energia e impulso de lugares onde ele menos imaginava para que ele se mantivesse vivo.
p O que aconteceria se a sua empresa fosse o seu único ganha pão? O que aconteceria se sua esposa/marido e filhos também dependessem disso? Pense nisso e a atenção ao seu negócio será muito maior. A partir dai você vai realmente querer entender e crescer com os seus erros. Os resultados também aparecerão muito mais rápido, acredite.