---
title: 'As 20 melhores Startups de 2011 e 2012'
date: 2012-07-19 16:20:00 -03:00
tags: startups
author: 'Flávio Ludgero'
author_link: 'https://twitter.com/flavioludgero'
thumb: 'http://blog.startae.com.br/images/articles/2012-07-19/01.png'
published: true
---

p Escolhemos 3 que nos faz cair uma lágrima ;)

/(READMORE)/

h2 Simple
p People keep their money in more than one place and they get charged a lot of money by every bank.

a href="https://www.simple.com"
  img src="/images/articles/2012-07-19/01.png" width="449"
p.caption
  a href="http://www.simple.com" simple.com

h2 Lytro
p Lytro is the first light field camera that allows you to “shoot now and focus later. 
a href="http://www.lytro.com"
  img src="/images/articles/2012-07-19/02.png" width="449"
p.caption
  a href="http://www.lytro.com" lytro.com

h2 General Assembly
p General Assembly is a school for entrepreneurs with courses taught by the community and cheap desks to rent office space.
a href="http://generalassemb.ly"
  img src="/images/articles/2012-07-19/03.png" width="449"
p.caption
  a href="http://generalassemb.ly" generalassemb.ly

p 
  b Vejas as outras 17 no <a href="http://www.businessinsider.com/20-best-startups-technology-inventions-2011-12?op=1">Business Insider</a>