---
title: 'O tempo certo para novas ideias'
date: 2012-10-01 22:15:00 -03:00
tags: inspire-se, empreendedorismo, dicas
author: 'Julio Protzek'
author_link: 'https://twitter.com/julioprotzek'
---
 
p Qualquer empreendedor de sucesso concorda que o timing é essencial para transformar ideias em realidade.
p Fique atento com 3 armadilhas muito comuns quando o assunto é escolher o tempo certo para executar as ideias e como algumas das grandes mentes empreendedoras do nosso tempo resolveram esses problemas.


h2 1. Aceitar ideias rápido demais
p Recentemente Steve Blank <a href="http://steveblank.com/2012/08/27/vision-versus-hallucination-founders-and-pivots/" target="_blank">blogou</a> sobre como são perigosas as mudanças do modelo de negócio fora do ciclo de feedback. No post, Steve conta a estória de Yuri, que quase enlouqueceu seus sócios e funcionários com as constantes mudanças no modelo de negócio.
p Steve explicou para Yuri a importância de uma visão consistente e ensinou a dar um tempo antes de tomar uma decisão importante.
p Paul Graham tem uma opinião parecida.
p Ao dissertar sobre <a href="http://paulgraham.com/bronze.html" target="_blank">porque pessoas espertas tem más ideias</a>, Paul comenta que é muito comum, mesmo entre as pessoas espertas, simplesmente começar a trabalhar na primeira ideia que vem a cabeça.
p De acordo com Paul, é essencial pensar em uma série de alternativas antes de se comprometer com uma ideia.


h2 2. Recusar ideias rápido demais
p Em seu famoso blog post <a href="http://37signals.com/svn/posts/3124-give-it-five-minutes" target="_blank">Give it 5 minutes</a>, Jason Fried da 37 Signals, conta como aprendeu a dar um tempo para as novas ideias.
p Jason lembra como novas ideias são frágeis e cita Jonathan Ive:
blockquote
  p E assim como Steve Jobs amava ideias e amava fazer coisas, eles tratava o processo criativo com uma reverência rara e maravilhosa. Veja só, eu acho que ele melhor do que ninguém entendeu que apesar de que as ideias podem se tornar poderosas, elas começam como frágeis pensamentos mal formados, tão facilmente perdidos, tão facilmente comprometidos.


h2 3. Não dar tempo para as ideias
p Alguns times ficam tão envolvidos com o dia-a-dia que perdem a visão do todo.
p Para o Startaê, execução é essencial. Nós acreditamos que toda ideia que realmente valha a pena precisa de uma ação. É o famoso "walk the talk".
p Mas um time tão focado em realização, pode acabar perdendo a visão estratégica e a capacidade de sonhar.
p Para garantir a inovação e criatividade, nós aprendemos a formalizar um dia para reavaliarmos o Startaê como um todo. Algo como um retiro criativo. Fazemos isso com uma certa frequência, uma ou duas vezes a cada bimestre.
.float-image.left.no-effect
  a href="http://www.amazon.com/gp/product/1591846447/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=1591846447&linkCode=as2&tag=startae-20" target="_blank"
    img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&ASIN=1591846447&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=startae-20"
    img src="http://www.assoc-amazon.com/e/ir?t=startae-20&l=as2&o=1&a=1591846447" width="1" height="1" border="0" alt="" style="border:none !important; margin:-10px !important; float: left;"
  p Da primeira vez que tiramos esse tempo pra pensar, usamos a técnica do <a href="http://www.amazon.com/gp/product/1591846447/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1591846447&linkCode=as2&tag=startae-20" target="_blank">Start With Why</a> do Simon Sinek para formalizarmos nosso propósito, nossos valores e nossos novos produtos e serviços. Esse dia mudou profundamente a forma como pensamos sobre nossa empresa e sobre nosso futuro.
p No nosso retiro criativo mais recente, nós descobrimos que queremos criar um impacto ainda maior no mundo ajudando as pessoas a sair da zona de conforto e a realizar seus sonhos.
p Também chegamos a conclusão de que além de ajudar as pessoas a empreender precisamos inspirar e ajudar as pessoas em fatores mais fundamentais, como saúde e finanças.
p Esse retiro criativo é nossa garantia de que vamos continuar evoluindo, inovando e saindo da zona de conforto de forma constante.

