---
title: "Oficinas Startaê: "
summary: "lorem lipsum..."
date: 2012-10-09 16:20:00 -03:00
tags: oficinas, ruby on rails, design, frontend, business
author: "Renato Carvalho"
author_link: "https://twitter.com/renatolz"
thumb: "/images/articles/2012-10-09/banner-rails-para-designers.png"
published: false
---

.fluid-image
  a href="http://www.startae.com.br/oficinas/adios-programadores"
    img src="/images/articles/2012-10-09/banner-rails-para-designers.png" width="580"
  p.caption Vagas abertas para a oficina: Adiós, Programadores! Ruby on Rails para designers.
p Se você já foi ou assistiu algum evento relacionado à Startups, com certeza já ouviu a famosa frase <b>“Fail early and fail often”</b> (Falhe cedo e falhe com frequência), que basicamente significa que você deve estar frequentemente fazendo experimentos no seu negócio com o objetivo de validar hipóteses criadas por você e seus sócios. Tratar sua empresa como experimento é uma ótima maneira de encarar o fracasso mais tranquilamente e ver que isso não deve ser uma vergonha para nenhum de nós. Todos erramos e aprendemos com isso, faz parte do ciclo de evolução. A questão é, precisamos perceber até que ponto essa tranquilidade em relação à erros constantes nos faz crescer verdadeiramente. Muitas pessoas são impactadas por esse experimento, a começar por você e sua família.