---
title: 'Desenhando experiências. O Design além da aparência.'
summary: 'Design não está limitado somente a coisas bonitas. Ele abrange todas as interações que as pessoas podem ter com um produto ou serviço - e que pode criar (ou destruir) o relacionamento que as pessoas tem com a sua empresa. Veja como gerar experiências incríveis para as pessoas.'
date: 2012-10-23 16:20:00 -03:00
tags: design, experiência
author: 'Renato Carvalho'
author_link: 'https://twitter.com/renatolz'
thumb: 'http://blog.startae.com.br/images/articles/2012-10-15/batman-01.jpg'
published: false
---

.fluid-image
  img src="/images/articles/2012-10-15/batman-01.jpg" width="580" height="285"
p Design não está limitado somente a coisas bonitas. Ele abrange todas as interações que as pessoas podem ter com um produto ou serviço - e que pode criar (ou destruir) o relacionamento que as pessoas tem com a sua empresa. Veja como gerar experiências incríveis para as pessoas.
/(READMORE)/
p Principalmente na fase inicial de um negócio, a maioria das ideias que temos e soluções que criamos não passam de suposições e até que você pare de falar e comece a agir, elas irão continuar sendo apenas isso, suposições. Nesse sentido é importante que você tire seu negócio do papel o quanto antes e comece a receber feedback de clientes reais. Esses irão te guiar e mostrar onde os seus principais erros estão. É quando você entra no ciclo de aprendizado (construir-medir-aprender) e cada interação passa a ser um experimento que irá validar ou não a hipótese que havia sido criada.
