---
title: 'Educação 2.0'
summary: 'A humanidade está enviando robôs para marte, criando orgãos artificais com material orgânico, programando robôs capazes de vencer concursos de perguntas e você ainda estuda como faziam no século 19?'
date: 2012-11-28 00:00:00 -03:00
tags: novidades, educação
author: 'Julio Protzek'
author_link: 'https://twitter.com/julioprotzek'
thumb: 'http://blog.startae.com.br/images/articles/2012-11-28/oficina.jpg'
---
 
<p>A humanidade está enviando robôs para marte, criando orgãos artificais com material orgânico, programando robôs capazes de vencer concursos de perguntas e você ainda estuda como faziam no século 19?</p>

<p>Como você já deve saber, o <a href="http://g1.globo.com/bom-dia-brasil/noticia/2012/11/brasil-fica-em-penultimo-lugar-em-ranking-de-qualidade-da-educacao.html">Brasil está no penúltimo lugar entre 40 países no ranking de qualidade da educação</a>.</p>

<p>Se a forma como ensinamos e aprendemos precisa mudar, por onde começamos? Mudar o quê especificamente? Quais mudanças são viáveis? Quais mudanças vão gerar maior impacto?</p>

<iframe src="http://player.vimeo.com/video/54474673?badge=0" width="580" height="332" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p class="caption">Assita esse vídeo genial criado para aprensentar o curso <a href="http://nos.vc/pt/projects/142-inovaeduca-tecnicas-de-apresentacao-para-transmissao-de-conhecimento">INOVAEDUCA</a>. Vale apena.</p>

<p>Quando decidimos ministrar treinamentos para democratizar algumas das ferramentas que usamos no Startaê, nós também decidimos repensar completamente a forma de ensinar.</p>

<h2>Ao invés de escolas com salas de aula, escritórios e laboratórios</h2>
<p>Tentar separar espaço de aprendizagem do mundo real é tão comum que chega a ser considerado natural. Nós decidimos desde o começo que as nossas oficinas devem ser ministradas no nosso escritório. Queremos que as pessoas estejam mergulhadas em um contexto realista no qual as ferramentas e habilidades serão usadas.</p>
<p>A aprendizagem ocorre quando praticamos e experimentamos.</p>

<h2>Ao invés de professores, designers de experiência</h2>
<p>Ao invés de ensinar, nós projetamos ambientes e experiências que criam oportunidades de aprendizagem.</p>
<p>Tornar o processo de aprendizagem estimulante e divertido é conosco. Aprender é com você.</p>
<p>Com essa mudança de paradigma, 90% do trabalho de ministrar uma oficina acontece antes da oficina sequer começar.</p>
<p>Os outros 10% do trabalho que acontece durante a oficina é inspirar, motivar e garantir que os participantes estão vivendo a experiência.</p>

<h2>Ao invés de alunos, profissionais auto-didatas</h2>
<p>O século 21 pertence aos auto-didatas, aos criativos e aos revolucionários.</p>
<p>As profissões que serão consideradas as mais importantes daqui 10 anos ainda não foram inventadas.</p>
<p>Aprender hoje em dia é estar preparado para usar habilidades e ferramentas que ainda não existem.</p>
<p>Grande parte do nosso foco nas oficinas é ajudar as pessoas a aprenderem a aprender. Onde buscar? O que ler? O que assistir?</p>

<h2>Ao invés de cursos, oficinas</h2>
<p>Pare por um minuto e pense na última vez em que aprendeu algo importante, que realmente fez diferença na sua vida. </p>
<p>Você aprendeu assistindo um professor palestrar ou aprendeu experimentando e praticando?</p>
<p>Ao invés de usar o modelo ultrapassado de cursos, nós organizamos oficinas.</p>
<p>Tudo na oficina é pensado para estimular a prática. O objetivo é aprender fazendo e experimentando.</p>

<h2>Ao invés de apostilas, vídeos</h2>
<p>Nos criamos vídeos passo-a-passo para todos os exercícios feitos nas oficinas. Apostilas nunca mais.</p>
<p>Simplesmente largar a aula gravando não é o bastante. Quando você quer encontrar o passo-a-passo de um exercício, não faz sentido sair buscando em um vídeo de 4 horas.</p>
<p>Os vídeos são práticos, curtos e direto ao ponto.</p>

<h2>E na prática, funciona?</h2>
<p>Nós já realizamos a primeira oficina utilizando esse novo framework.</p>

<p><img src="/images/articles/2012-11-28/oficina.jpg" width="580"></p>
<p class="caption">Oficina rolando no escritório do Startaê.</p>

<p>Para validar modelo escolhemos algo realmente desafiador: Dar ferramentas profissionais para designers que querem realizar suas próprias ideias.</p>

<p>A oficina foi inspirada por algumas das mentes mais prolíficas no mundo da tecnologia: <a href="http://yehudakatz.com/">Yehuda Katz</a>, <a href="http://drewwilson.com/">Drew Wilson</a> e <a href="http://www.shauninman.com/pendium/">Shaun Inman</a>. Todos tem um background em design e resolveram aprender a programar para dar vida as suas próprias ideias e projetos.</p>

<p>A oficina <a href='http://www.startae.com.br/oficinas/adios-programadores'>Adiós, programadores</a> ajuda designers  a aprenderem a programar seus próprios projetos em um ambiente realmente profissional, o <a href="http://rubyonrails.org/">Ruby on Rails</a>.</p>

<p><img src="/images/articles/2012-11-28/fakebook.jpg" width="580"></p>
<p class="caption">O Fakebook é o projeto desenvolvido durante a oficina.</p>

<p><img src="/images/articles/2012-11-28/biscoito-globo.jpg" width="580"></p>
<p class="caption">O Biscoito Globo é o projeto desenvolvido em casa.</p>

<p>Nós escolhemos exercícios realistas e desafiadores para a oficina. Dentro na oficina os participantes criam um mini facebook, o <b>Fakebook</b>. Em casa para treinar o que aprederam, criam um mini globo.com, o <b>Biscoito globo</b>.</p>

<p><img src="/images/articles/2012-11-28/pizza.jpg" width="580"></p>
<p class="caption">Bud e pizza para comemorar.</p>

<p>O feedback foi muito bom. Alguns dos depoimentos:</p>

<p><blockquote>A oficina realmente atendeu minhas expectativas, estou feliz por ter decidido participar.</blockquote>
<b>Raul Vinicius</b></p>

<p><blockquote>Recomendado, muito bom, deu para aprender bastante. Para quem tem pé no chão, dá para seguir sozinho. Recomendadíssimo.</blockquote>
<b>Victor Magalhães</b></p>

<p><blockquote>A oficina surpreendeu as expectativas. O que surpreendeu muito foi o conteúdo que foi disponibilizado em vídeo que acho que vai ajudar bastante após a oficina.</blockquote>
<b>Bruno Chagas</b></p>

<p>Nós acreditamos que é possível fazer algo inovador e disruptivo na área de ensino e mudar a cara do Brasil. Iniciativas como a <a href="http://www.perestroika.com.br/">Perestroika</a>, <a href="http://nos.vc/pt">Nós.vc</a>, <a href="http://estaleiroliberdade.com.br/">Estaleiro da Liberdade</a>, <a href="http://eiselab.com.br/">Eise</a> e as <a href="http://www.startae.com.br/oficinas">oficinas do Startaê</a>, provam que o Brasil tem condições de criar propostas de vanguarda na área de ensino. Qualquer instituição de ensino pode e deve usar essas ferramentas. E qualquer escritório ou laboratório, pode e deve se tornar uma instituição de ensino. E aí? Vamos democratizar essas ferramentas?</p>