---
title: "Cadeia alimentar das Startups"
date: 2012-07-09T16:00:00
/ tags: empreendedorismo, inspire-se
---

img src="https://dl.dropbox.com/s/2i5i8xuz9ce4v0e/startup-ecosystem-infographic.png"
p Source: <a href="http://blog.udemy.com">Udemy Blog</a>