---
title: "Bermudismo: uma filosofia de trabalho."
date: 2012-07-13T16:00:00
tags: inspire-se
---

p O Ambiente de trabalho é cheio de regras. Apesar de umas escritas, a maior parte é não dita. Essa conversa visa desmistificar uma das mais antigas regras do ambiente de trabalho. A forma de se vestir.
p Assista a apresentação do Fabrício Buzeto sobre o Bermudismo e inspire-se.
iframe width="560" height="315" src="http://www.youtube.com/embed/0abouwZ0hyk?rel=0" frameborder="0" allowfullscreen
p Veja o blog post do Fabrício sobre <a href="http://blog.buzeto.com/2012/03/o-manifesto-bermudista.html">O Manifesto Bermudista</a>.

p Links:
ul
  li
    a href="http://www.bermudamanifesto.org" Página do Manifesto Bermudista
  li
    a href="https://twitter.com/OBermudista" @OBermudista no Twitter