---
title: "Você ama o que está fazendo agora?"
date: 2012-06-20T16:00:00
tags: inspire-se
---

p Descubra seu propósito de vida e faça acontecer!

iframe width="420" height="315" src="http://www.youtube.com/embed/F12DAS-ZNDY?rel=0" frameborder="0" allowfullscreen