---
title: "O que você ama fazer pode ser útil para as pessoas e virar um negócio sustentável"
date: 2012-09-11
tags: empreendedorismo, inspire-se
---

p O ser humano distraído muitas vezes é guiado pelo medo e pelo conforto. Medo do desconhecido, conforto em continuar fazendo o que faz sem errar e por outras forças que nos puxam para trás.
p Esse tipo de sentimento só vai esconder um potencial que está dentro de cada um de nós. E esse potencial retido, pode e deve virar realização financeira e utilidade para muitas pessoas.
p Será que existe uma maneira de reconfigurar a maneira que vivemos ?
p Hoje vamos dar 2 dicas:

h2 #1 Queime as caravelas!!!!

p Essa estória de “queimar as caravelas” nasceu de um desbravador espanhol chamado Hernán Cortés Pizarro.
p Pizarro tinha a missão de dominar os Astecas e para dar uma boa dose de incentivo na sua equipe, assim que desembarcou em terra firme queimou as caravelas que ele e seu exército utilizaram para chegar até lá.
p Esse decisão injetou na sua equipe a vontade de vencer e sobreviver a qualquer custo. Eles não tinham outra opção senão lutar até vencer.
p Sem julgar a etica da decisão de Pizarro e considerar apenas o reflexo metafórico deste termo, muitas vezes precisamos nos despreender do passado e seguir em frente, precisamos “queimar as caravelas” e seguir rumo ao desconhecido.
p Seguir, e com muita vontade de vencer. Nesta posição você tem que estar 100% comprometido com o seu propósito e com o que precisa ser feito.
p Onde você está hoje, se sente 100% comprometido? Como você pode direcionar sua energia para algo que o deixe 100% comprometido?

h2 #2 Crie um negócio em torno do que você já faz bem e gosta com o que pode ser útil para as pessoas.

p Junte seu talento natural com o que você ama fazer. E não me venha com essa desculpa “Ahh não sou tão bom assim em alguma coisa”. Se você ainda não sabe qual o seu talento, pergunte aos amigos e familiares que lhe conhecem. Somado a isso faça uma retrospectiva a sua infância e observe quais momentos você mais brilhava. Isso vai lhe ajudar a encontrar a essência deste seu talento.
p Tenho certeza que uma série de micro-oportunidades a sua volta. Começe pelo local onde você mora, sua escola, sua empresa ou sua rede de amigos.
p Se você encontrar isso vai conseguir ajudar muitas pessoas e transformar o que você gosta de fazer em um negócio.
p No livro “The R$ 100,00 Startup” o autor entrevistou uma série de micro-empreendedores ao redor do mundo e encontrou pontos em comum entre essas pessoas.

p 
  b Assistam o trailer do livro

iframe width="560" height="315" src="http://www.youtube.com/embed/xbwBboFr3fQ" frameborder="0" allowfullscreen

p Esperamos que esse texto tenha lhe inspirado a dar o 1º passo em direção ao que você ama fazer e acredita.