---
title: "Startaê está entre os 100 negócios para se montar em 2013"
summary: "A humanidade está enviando robôs para marte, criando orgãos artificais com material orgânico, programando robôs capazes de vencer concursos de perguntas e você ainda estuda como faziam no século 19?"
date: 2013-01-15 00:00:00 -03:00
tags: novidades
author: "Flavio Ludgero"
author_link: "https://twitter.com/julioprotzek"
thumb: "http://blog.startae.com.br/images/articles/2013-01-15/pegn-capa-startae.jpg"
published: false
---

p sadasdasdasd 
.align-center
  img src="/images/articles/2013-01-15/pegn-capa-startae.jpg" width="450"
  p.caption Capa da revista Pequenas Empresas & Grandes Negócios: 100 ideias para montar o seu negócio.

.align-center
  img src="/images/articles/2013-01-15/pegn-materia-startae.png" width="580"