---
title: 'Oficina: Design Thinking como ferramenta para Startups'
summary: 'Em uma oficina para o Sebrae Mato Grosso vamos compartilhar as técnicas de design thinking que aplicamos em nossos projetos de inovação e no dia a dia das Startups que atendemos.'
date: 2013-10-25
tags: dicas, startups, oficinas, design thinking
author: 'Flavio Ludgero'
author_link: 'https://twitter.com/flavioludgero'
thumb: 'http://blog.startae.com.br/images/articles/2013-10-25/startae-oficina-design-thinking-startup-sebrae.jpg'
---

.fluid-image
  == image_tag 'articles/2013-10-25/startae-oficina-design-thinking-startup-sebrae.jpg', width: 700
p Nos dias 30 e 31 deste mês vamos participar do evento <a href='http://www.designetudo.com.br/' target='_blank'>10º Design é Tudo - Seminário Brasileiro de Inovação e Design </a> em Cuiabá, Mato Grosso.  


p Em uma <b>oficina de 4 horas</b> vamos compartilhar técnicas de design thinking que utilizamos em nosso dia a dia e com as Startups que atendemos. Nossa ideia é abordar de forma simples as principais ferramentas que auxiliam os projetos de inovação e descoberta de novos modelos de negócios.


