---
title: 'Oficina de Ruby on Rails para Designers: Nova turma'
summary: 'A oficina de Ruby on Rails para designers está de volta e vai começar dia 22 de Julho.'
date: 2013-07-03 14:30:00 -03:00
tags: oficinas
author: 'Renato Carvalho'
author_link: 'https://twitter.com/renatolz'
thumb: 'http://blog.startae.com.br/images/articles/2013-07-03/banner-rails-para-designers.png'
published: true
---

.fluid-image
  == image_tag 'articles/2013-07-03/banner-rails-para-designers.png', width: 700
p A oficina de <a href='http://www.startae.com.br/oficinas/adios-programadores' target='_blank'><b>Ruby on Rails para designers</b></a> está de volta e vai começar dia <b>22 de Julho</b>. A oficina é presencial e vai ser realizada no office do Startaê, <b>em Brasília</b>.
/(READMORE)/

p São 4 dias intensos onde você vai aprender de uma forma simples e divertida os fundamentos do Ruby on Rails, praticando com um exemplo real. Se você já domina HTML & CSS, está na hora de dar vida à seus projetos.
p Vamos nessa? <a href='http://www.startae.com.br/oficinas/adios-programadores' target='_blank'><b>Mais informações sobre a oficina aqui</b></a>.

h2 Veja os depoimentos da galera que já participou:
==link_to 'http://www.startae.com.br/oficinas/adios-programadores', target: '_blank' do
  == image_tag 'articles/2013-07-03/testimonial-rails-designers.jpg', width: 700