---
title: 'Você é produtivo no trabalho?'
summary: 'Neste vídeo, Jason Fried, cofundador da 37signals, mostra como o ambiente de um escritório pode ser tóxico para a produtividade das pessoas.'
date: 2013-07-15 21:00:00 -03:00
tags: dicas
author: 'Rafael Torales'
author_link: 'https://twitter.com/rafaeltorales'
thumb: 'http://images.ted.com/images/ted/be91c8b5f3a0798ddca31c761674bfac9e06c970_113x85.jpg'
published: true
---

p Neste vídeo, Jason Fried, cofundador da 37signals, mostra como o ambiente de um escritório pode ser tóxico para a produtividade das pessoas.

.fluid-video
  iframe(src="http://embed.ted.com/talks/lang/pt-br/jason_fried_why_work_doesn_t_happen_at_work.html" width="853" height="480" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
br

