---
title: 'Experimentos no trabalho: Friday Rumble'
summary: 'Ah, sexta-feira! Há algumas semanas começamos a fazer um experimento aqui no Startaê e o apelidamos de Friday Rumble. Veja como está sendo nossa experiência.'
date: 2013-06-07 14:30:00 -03:00
tags: inspire-se, startups, estilo de vida, dicas
author: 'renato'

thumb: 'http://blog.startae.com.br/images/articles/2013-06-07/montagem-galera.jpg'
---

p Ah, sexta-feira! Há algumas semanas começamos a fazer um <b>experimento</b> aqui no Startaê e o apelidamos de <b>Friday Rumble</b>. Estamos dedicando todas as sexta-feiras para as nossas próprias startups.
p Aqui vão alguns pontos positivos que já identificamos com este experimento:
/READMORE/

h2 União da galera
p A nossa união aqui dentro foi um dos melhores resultados deste experimento.
.fluid-image
  == image_tag 'articles/2013-06-07/montagem-galera.jpg', width: 700

h2 Satisfação de tirar uma ideia do papel e aprender bastante com ela
p Conseguimos tirar uma ideia do papel que tínhamos congelado há mais de um ano. O fato da nossa ideia estar congelada e ver projetos parecidos surgindo era algo que estava começando a incomodar. Pois bem, agora já temos uma versão mais simples possível do nosso produto e já estamos aprendendo bastante com ele.

p Este serviço se chama <a href='http://www.yummmy.com.br/?utm_source=Blog+Startae&utm_medium=Blog+post&utm_content=blog+startae' target='_blank'>Yummmy</a>, uma ferramenta <b>desenhada especialmente para restaurantes, cafés e bistrôs. Permite que os estabelecimentos gerenciem seus cardápios em um só lugar e disponibilizem para seus clientes em vários formatos</b>, como na fan page do Facebook, sites, iPhone, iPad, etc. Começamos pelo cardápio no Facebook, mas acreditamos que isso vai longe.
.fluid-image
  == link_to 'http://www.yummmy.com.br/?utm_source=Blog+Startae&utm_medium=Blog+post&utm_content=blog+startae', target: '_blank' do
    == image_tag 'articles/2013-06-07/screenshot-yummmy.png', width: 640, class: 'no-box-shadow'

h2 Felicidade + Aprendizado = Maior produtividade
p Além de estarmos mais felizes por poder executar algo para nós mesmos e aprender bastante com isso, passamos a ser mais produtivos pois o fato de termos somente 4 dias na semana para trabalhar para nossos clientes nos forçou a aumentar o foco.

p Postaremos mais novidades sobre nossos aprendizados a medida que forem aparecendo. Esse experimento foi baseado no que algumas pessoas que admiramos vem fazendo por aí:
ul
  li
    == link_to '37Signals - Workplace Experiments', 'http://37signals.com/svn/posts/893-workplace-experiments', target: '_blank'
  li
    == link_to 'Treehouse - Work Less', 'http://blog.teamtreehouse.com/work-less', target: '_blank'
  li
    == link_to 'Drew Wilson - Execute, a book about executing on ideas immediately when inspired rather than following the normal rules.', 'http://executebook.com', target: '_blank'
