---
title: 'Você é produtivo no trabalho?'
summary: 'Neste vídeo, Jason Fried, cofundador da 37signals, mostra como o ambiente de um escritório pode ser tóxico para a produtividade das pessoas.'
date: 2013-07-15 21:00:00 -03:00
tags: dicas, lean
author: 'Rafael Torales'
author_link: 'https://twitter.com/rafaelrtp'
/ thumb: 'http://blog.startae.com.br/images/articles/2013-07-09/fotos-time-startae-02.jpg'
published: true
---

p Neste vídeo, Jason Fried, cofundador da 37signals, mostra como o ambiente de um escritório pode ser tóxico para a produtividade das pessoas.

.fluid-video
  iframe(src="http://embed.ted.com/talks/jason_fried_why_work_doesn_t_happen_at_work.html" width="853" height="480" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
br
