---
title: "Sonho Brasileiro (Brazilian Dream Manifesto)"
summary: "Um projeto fantástico que busca acordar o Brasil de dentro pra fora através de sonhos realizáveis que gerem um impacto positivo na vida dos brasileiros."
date: 2013-02-14 12:00:00 -03:00
tags: estilo de vida, inspire-se
author: "Renato Carvalho"
author_link: "https://twitter.com/renatolz"
thumb: "http://b.vimeocdn.com/ts/217/800/217800345_640.jpg"
---

p Um projeto fantástico que busca acordar o Brasil de dentro pra fora através de sonhos realizáveis que gerem um impacto positivo na vida dos brasileiros.
p É possível sim fazer grandes revoluções através de micro-revoluções, atitudes individuais que quando conectadas com outras pessoas que tem o mesmo sonho, conseguem causar mudanças significantes para o nosso Brasil.
iframe(src="http://player.vimeo.com/video/32217952?color=ffffff" width="580" height="326" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
/(READMORE)/
p COnheça mais sobre o projeto aqui: <a href="http://osonhobrasileiro.com.br/" target="_blank">osonhobrasileiro.com.br</a>