---
title: 'Última chamada para a oficina de Ruby on Rails para Designers'
summary: 'Neste vídeo, Jason Fried, cofundador da 37signals, mostra como o ambiente de um escritório pode ser tóxico para a produtividade das pessoas.'
date: 2013-07-19 13:00:00 -03:00
tags: oficinas
author: 'Renato Carvalho'
author_link: 'https://twitter.com/renatolz'
thumb: 'http://img.youtube.com/vi/wFbw8gFbAwA/maxresdefault.jpg'
---

.fluid-video
  iframe(width="725" height="408" src="//www.youtube.com/embed/wFbw8gFbAwA" frameborder="0" allowfullscreen)
p style="padding-top: 5px;" Galera de Brasília, olha aí o Julio fazendo a última chamada para a oficina de Ruby on Rails para Designers que começa nesta segunda, dia 22.

/READMORE/
p Ainda temos vagas. Faça sua inscrição: <a href="http://www.startae.com.br/oficinas/adios-programadores">startae.com.br/oficinas/adios-programadores</a>
