---
title: 'Startaê na revista Pequenas Empresas & Grandes Negócios'
summary: 'O Startaê está na revista Pequenas Empresas & Grandes Negócios da edição de janeiro de 2013 na matéria de capa 100 ideias para montar seu negócio'
date: 2013-01-15 21:00:00 -03:00
tags: novidades
author: 'Flavio Ludgero'
author_link: 'https://twitter.com/flavioludgero'
thumb: 'http://blog.startae.com.br/images/articles/2013-01-15/pegn-capa-startae.jpg'
---

p O Startaê está na revista <b>Pequenas Empresas & Grandes Negócios</b> da edição de janeiro de 2013 na matéria de capa <b>"100 ideias para montar seu negócio"</b>.
.align-center
  img src="/images/articles/2013-01-15/pegn-capa-startae.jpg" width="450"
  p.caption Capa da revista Pequenas Empresas & Grandes Negócios: 100 ideias para montar o seu negócio.
/READMORE/

p Logo quando vimos a matéria que fala sobre o Startaê, uma coisa que nos chamou a atenção foi o gráfico que compara o investimento inicial das empresas. O investimento do Startaê foi o menor.
.align-center
  img src="/images/articles/2013-01-15/grafico-investimento-startae.png" width="356"
p Daí lembramos que consideramos nossos primeiros 4 meses de empresa, onde nossa ideia de negócio ainda era incerta. Inspirados por diversas empresas que iniciaram seus negócios de forma bem enxuta, passamos os primeiros meses trabalhando em um café, utilizando nossos Macbooks e a internet do café. Este foi o nosso <b>escritório enxuto</b>.

img src="/images/articles/2013-01-15/startae-no-cafe.jpg" width="580"
p.caption Startaê trabalhando no café da Livraria Cultura Brasília

p Normalmente o caminho de muitos empreendedores é: ter a ideia, montar um plano de negócios, buscar investimento, alugar escritório, contratar pessoas e depois começa a vender.
p Se um dos maiores desafios do empreendedor é reduzir risco, porque não inverter este processo. Acreditamos que o mais importante não é a estrutura ou o seu tamanho da sua empresa e sim o real valor que você entrega para as pessoas.
p <b>Pense grande, começe pequeno e cresça rápido.</b>

h2 Leia a matéria completa
.align-center
  img src="/images/articles/2013-01-15/pegn-materia-startae.png" width="580"
