---
title: 'Por quê a sua startup existe?'
summary: 'A maioria das startups consegue explicar muito bem "o quê" elas fazem e "como" elas fazem, mas poucas conseguem deixar claro o "por quê" elas fazem o que fazem.'
date: 2013-03-28 18:30:00 -03:00
tags: inspire-se
author: 'Flavio Ludgero'
author_link: 'https://twitter.com/flavioludgero'
thumb: 'http://blog.startae.com.br/images/articles/2013-03-28/porque.png'
published: true
---

.fluid-image
  br
  img.no-box-shadow src="/images/articles/2013-03-28/porque.png" width="580" height="261"
p A maioria das startups consegue explicar muito bem "o quê" elas fazem e "como" elas fazem. Numa visita rápida ao site <a href="http://angel.co" target="_blank">Angel.co</a> foi possível perceber isso:
br
blockquote "Somos uma plataforma para venda e organização de eventos"
br
blockquote "E-commerce de produtos de decoração"
br
blockquote "Sistema de pagamento via celular para empresas"
p Poucas startups conseguem deixar claro o <b>"por quê" elas fazem o que fazem</b>. Quer ver como é difícil?
/(READMORE)/
p: b Tente responder essas perguntas:
ul
  li Se a sua startup deixasse de existir amanhã o que o mundo perderia?
  li Que impacto sua startup quer gerar no dia a dia das pessoas? 
  li Qual seu propósito? Para que você existe?

p Algumas startups ou grandes empresas que já foram startups conseguiram explicar de forma muito clara o seu "por quê".
p Assista. Prepare-se para fortes emoções.

h2 Apple
iframe(width="100%" height="315" src="http://www.youtube.com/embed/8rwsuXHA7RA?rel=0" frameborder="0" allowfullscreen)

h2 Harley-Davidson
iframe(width="100%" height="315" src="http://www.youtube.com/embed/MzgSsioAGHs?rel=0" frameborder="0" allowfullscreen)

h2 Spotify
iframe(width="100%" height="315" src="http://www.youtube.com/embed/E-wbGBc4BuY?rel=0" frameborder="0" allowfullscreen)

h2 SkillShare
iframe(width="100%" height="315" src="http://www.youtube.com/embed/r_yOzJqdXFQ?list=UUoYATiiqNT7csPFqtWWfc5w?rel=0" frameborder="0" allowfullscreen)

p: b Aí vão algumas dicas para você responder estas 3 perguntas mágicas:

h2 Por quê?
p O seu "por quê" deve ser inspirador e emocional. Ele representa sua causa, sua razão de existir. Quando ele estiver claro entre todos do seu time você vai conseguir deixá-lo ainda mais claro para o mundo.

h2 Como?
p O seu "como" é a forma e o caminho que você escolheu para realizar o seu "porquê". Alguns podem chamar de "estratégia". Eu prefiro falar que é "do seu jeito". A palavra de ordem aqui é disciplina.

h2 O que?
p O seu "o quê?" é a representação concreta do seu "porquê?". Ele representa tudo que você realmente entrega para as pessoas. Ele deve ser consistênte com o seu "como?" e "porquê?".

br
.float-image.left.no-effect
  a href="http://www.amazon.com/gp/product/1591846447/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=1591846447&linkCode=as2&tag=startae-20"
    img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&ASIN=1591846447&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=startae-20"
    img src="http://www.assoc-amazon.com/e/ir?t=startae-20&l=as2&o=1&a=1591846447" width="1" height="1" border="0" alt="" style="border:none !important; margin:-10px !important; float: left;"
  p Se quiser saber mais sobre o assunto, <a href="http://www.ted.com/talks/lang/pt-br/simon_sinek_how_great_leaders_inspire_action.html" target="_blank">assista a palestra</a> do <b>Simon Sinek</b> no TED e <a href="http://www.amazon.com/gp/product/1591846447/ref=as_li_tf_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=1591846447&linkCode=as2&tag=startae-20" target="_blank">compre o livro "Start with Why?"</a>.

iframe(src="http://embed.ted.com/talks/lang/pt-br/simon_sinek_how_great_leaders_inspire_action.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

p Boa sorte nesta jornada em busca do propósito. ;)
