---
title: "Workshop Design Thinking Brasil Na Estrada! Edição Brasília."
summary: "Tratar sua empresa como experimento é uma ótima maneira de encarar o fracasso mais tranquilamente e ver que isso não deve ser uma vergonha para nenhum de nós. Todos erramos e aprendemos com isso, faz parte do ciclo de evolução. A questão é, precisamos perceber até que ponto..."
date: 2013-03-06 23:00:00 -03:00
tags: eventos, design thinking
author: "Renato Carvalho"
author_link: "https://twitter.com/renatolz"
thumb: "http://blog.startae.com.br/images/articles/2013-03-06/cover-dtbrnaestrada.png"
published: false
---

.fluid-image
  br
  img.no-box-shadow src="/images/articles/2013-03-06/cover-dtbrnaestrada.png" width="520" height="303"
p É com muito prazer que estamos trazendo o workshop <b>Design Thinking Brasil para Brasília</b> que vai rolar nos dias <b>5 e 6 de Abril com o Tennyson Pinheiro</b>. Ele é autor do livro <a href="http://www.dtbrbook.com.br/" target="_blank">Design Thinking Brasil</a>, fundador da <a href="http://eiselab.com.br/" target="_blank">EISE</a> - a principal escola de Design Thinking no Brasil, além de representar uma das principais empresas de Design de Serviço do mundo, a <a href="http://www.liveworkstudio.com.br/" target="_blank">live|work</a>.
/(READMORE)/
p Design thinking é uma das ferramentas mais importantes no dia-a-dia do <b>Startaê</b>.
p Se você também acha que <b>design</b> só faz sentido quando é <b>pensado para pessoas</b> então esse workshop é obrigatório.
p Quer saber mais? <a href="http://www.startae.com.br/dtbr" target="_blank">Entre no site especial do evento</a> e garanta sua vaga ;-)