---
title: 'Design Thinking para Startups.'
summary: 'Nesta oficina do Sebrae-MT vamos compartilhar em uma oficina de 4 horas as técnicas de design thinking e como utilizamos no dia a dia das Startups que atendemos'
date: 2013-10-25
tags: dicas, startups, oficinas, design thinking
author: 'Flavio Ludgero'
author_link: 'https://twitter.com/flavioludgero'
thumb: 'http://blog.startae.com.br/images/articles/2013-10-25/startae-oficina-design-thinking-startup-sebrae.jpg'
---

.fluid-image
  == image_tag 'articles/2013-10-25/startae-oficina-design-thinking-startup-sebrae.jpg', width: 700
p Nos dias 30 e 31 deste mês vamos participar do evento <a href="http://www.designetudo.com.br/" target=_blank>10º Design é Tudo - Seminário Brasileiro de Inovação e Design </a> em Cuiabá, Mato Grosso.  


p Em uma oficina de 4 horas vamos compartilhar técnicas de design thinking que utilizamos no nosso dia a dia e com as Startups que atendemos. Nossa ideia é abordar de forma simples as principais ferramentas que auxiliam os projetos de inovação e descoberta de novos modelos de negócios.


