---
title: 'Conversas decisivas'
summary: 'Comunicação é um dos fundamentos do desenvolvimento de software. Um bom desenvolvedor precisa ser capaz de entender uma ideia abstrata e explicar ela de forma concreta e em detalhes para um computador. '
date: 2013-11-08
tags: livros, dicas
author: 'Julio Protzek'
author_link: 'https://twitter.com/julioprotzek'
thumb: 'http://blog.startae.com.br/images/articles/2013-11-08/crucial-conversations.jpg'
---

p Comunicação é um dos fundamentos do desenvolvimento de software. Um bom desenvolvedor precisa ser capaz de entender uma ideia abstrata e explicar ela de forma concreta e em detalhes para um computador. 

/READMORE/

p Além disso, a ideia escrita em código precisa ficar clara e auto explicativa para que um próximo desenvolvedor possa entendê-la a ponto de evoluir ou alterar o código a partir de novas necessidades.

p Pouca gente sabe, mas existe um lado da comunicação que é ainda mais importante para programadores do que comunicar ideias em forma de código. 

p A parte mais importante do trabalho de um desenvolvedor é se comunicar com pessoas. Entender, explicar e muitas vezes discutir ideias é o trabalho que os bons programadores fazem com maior frequência. Mais do que escrever código, desenhar diagramas ou ler documetação.

p No dia a dia de troca de ideias as vezes uma conversa normal se torna uma discussão. Nesses momentos é comum perder a cabeça e trocar a busca de soluções pela busca da vitória na argumentação. Ganhar a discussão vira o objetivo principal e quando isso acontece, todos perdem.

p Discutir assuntos importantes com a cabeça no lugar e de forma respeitosa é uma das habilidades mais importantes para desenvolvedores de software. E como você pode imaginar, também é muito útil em uma roda de amigos ou em casa.

p Na minha busca para aprender a me comunicar melhor descobri um livro surpreendente. Os autores de <a href="http://www.amazon.com/Crucial-Conversations-Talking-Stakes-Edition/dp/0071771328" target="_blank">Crucial Conversations</a> descobriram como os melhores comunicadores lidam com discussões decisivas e explicam esses comportamentos e estratégias em detalhes. Os exemplos de discussões vão de executivos discutindo sensíveis cortes de gastos a famílias lidando com traumas, passando por casais com problemas de sexo.

p Se você gostaria de melhorar sua comunicação sobre assuntos importantes, esse livro vai te ajudar. 

p Aí vai o link do livro no Audible:
p: a href='http://www.audible.com/pd/Business/Crucial-Conversations-Audiobook/B009RQZDHS/ref=sr_1_1?qid=1383923481&sr=1-1' target='_blank'
          == image_tag 'articles/2013-11-08/crucial-conversations.jpg', width: 106, height: 123, style: 'margin: 0;'

p E boas conversas!
