---
title: 'Aprenda com o Startaê'
summary: 'Acreditamos que dentro de cada pessoa existe uma essência, uma chama que pode ser ativada. O propósito desse projeto é ser essa ignição, o "start", o início dessa mudança que começa dentro de cada um de nós. Ter a ideia não basta, é preciso ir lá e fazer. Não sabe como? Nós te ensinamos.'
date: 2013-11-07
tags: startup, educacao, backend, frontend, design, cursos
author: 'renato'
thumb: 'http://blog.startae.com.br/images/articles/2013-11-07/aprenda-startae.png'
---

p.highlight style='padding: 10px; border-radius: 3px;' Update (07/01/2014): Lançamos a versão beta da plataforma. Se você está afim de participar da criação de uma experiência de ensino irada enquanto aprende novas habilidades, seja bem-vindo! :) <br><a href="http://aprenda.startae.com.br/?utm_source=blog_startae&amp;utm_medium=site&amp;utm_content=blog_post" target="_blank">Clique aqui para acessar e começar a assistir os vídeos</a>.
.fluid-image
  == image_tag 'articles/2013-11-07/aprenda-startae.png', width: 700

p Fala galera, está saindo do forno um projeto que estamos trabalhando com muita dedicação. A educação é um dos principais gargalos no Brasil e queremos fazer a diferença.
p Acreditamos que dentro de cada pessoa existe uma essência, uma chama que pode ser ativada. O propósito desse projeto é ser essa ignição, o "start", o início dessa mudança que começa dentro de cada um de nós. Ter a ideia não basta, é preciso ir lá e fazer. Não sabe como? Nós te ensinamos.
p Vamos começar compartilhando assuntos onde temos mais experiência. Assuntos sobre design, tecnologia e negócios. <del>Quer ser um dos primeiros a ter acesso a esse conteúdo? <b>Deixe seu contato clicando no botão abaixo:</del></b>
p
  a href="http://aprenda.startae.com.br/?utm_source=blog_startae&amp;utm_medium=site&amp;utm_content=blog_post" target="_blank" Lançamos a versão beta! Clique aqui para acessar e assistir os vídeos.
/ br
/ .no-effect
/   .createsend-button style="height:27px;display:inline-block;" data-listid="j/1D/1E9/973/CFEEE2D91D6A745D"
/   javascript:
/     (function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();
/   br
