---
title: 'Workshop Design Thinking Brasil Na Estrada! Edição Brasília.'
summary: 'O DTBR on the road! é um workshop de 1 dia e meio, focado em transmitir conceitos e prática para aplicação do pensamento centrado nas pessoas na construção de soluções que são boas para as pessoas e trazem resultado para os negócios.'
date: 2013-03-06 23:00:00 -03:00
tags: eventos, design thinking
author: 'Renato Carvalho'
author_link: 'https://twitter.com/renatolz'
thumb: 'http://blog.startae.com.br/images/articles/2013-03-06/dtbr-og-image.png'
---

.fluid-image
  br
  img.no-box-shadow src="/images/articles/2013-03-06/cover-dtbrnaestrada.png" width="520" height="303"
p É com muito prazer que estamos trazendo o workshop <b>Design Thinking Brasil para Brasília</b> que vai rolar nos dias <b>5 e 6 de Abril com o Tennyson Pinheiro</b>. Ele é autor do livro <a href="http://www.dtbrbook.com.br/" target="_blank">Design Thinking Brasil</a>, fundador da <a href="http://eiselab.com.br/" target="_blank">EISE</a> - a principal escola de Design Thinking no Brasil, além de representar uma das principais empresas de Design de Serviço do mundo, a <a href="http://www.liveworkstudio.com.br/" target="_blank">live|work</a>.
/READMORE/
p Design thinking é uma das ferramentas mais importantes no dia-a-dia do <b>Startaê</b>.
p Se você também acha que <b>design</b> só faz sentido quando é <b>pensado para pessoas</b> então esse workshop é obrigatório.
p Quer saber mais? <a href="http://www.startae.com.br/dtbr" target="_blank">Entre no site especial do evento</a> e garanta sua vaga ;-)
