---
title: 'Criando facilmente esquemas de cores CSS complexos com Sass'
summary: 'O Xray Rails é a gem perfeita para quem está começando com o Rails. Ela vai lhe ajudar a visualizar todos os componentes que interligam o frontend com o código Rails'
date: 2013-10-04
tags: dicas, frontend, css, sass
author: 'Renato Carvalho'
author_link: 'https://twitter.com/renatolz'
thumb: 'http://blog.startae.com.br/images/articles/2013-09-03/thumb-xray-rails.png'
published: false
---

/ .fluid-video
/   iframe(width="725" height="408" src="//www.youtube.com/embed/qGz41xJtQ5Y" frameborder="0" allowfullscreen)
p Em um projeto recente que desenvolvemos, tivemos a necessidade de criar temas de cores diferentes para cada área do site. Codificar isso "na mão" com CSS pode se tornar uma tarefa muito chata e demorada. Mas é aí que o <a href='#'>Sass</a> mais uma vez vem a ser muito útil. Com ele esta tarefa complexa fica muito fácil e divertida :)

h2 Utilizando listas multi-dimensionais para salvar o nome do tema e as cores

p Convenientemente, podemos criar nossas próprias variáveis em listas - e pra ficar mais legal, essas listas podem ser multi-dimensionais. Isto significa que podemos combiná-las em loops e ter diferentes atributos disponíveis em cada iteração.

p Veja abaixo um exemplo simples de como gerar seu tema:

<p data-height="450" data-theme-id="0" data-slug-hash="CxcEJ" data-user="renatocarvalho" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/renatocarvalho/pen/CxcEJ'>Sass multidimensional list</a> by Renato Carvalho (<a href='http://codepen.io/renatocarvalho'>@renatocarvalho</a>) on <a href='http://codepen.io'>CodePen</a></p>
<script async src="http://codepen.io/assets/embed/ei.js"></script>
