---
title: 'Xray Rails: veja a estrutura do frontend no Rails'
summary: 'O Xray Rails é a gem perfeita para quem está começando com o Rails. Ela vai lhe ajudar a visualizar todos os componentes que interligam o frontend com o código Rails'
date: 2013-09-03 13:00:00 -03:00
tags: oficinas, dicas, frontend, ruby on rails
author: 'Julio Protzek'
author_link: 'https://twitter.com/julioprotzek'
thumb: 'http://img.youtube.com/vi/qGz41xJtQ5Y/maxresdefault.jpg'
published: true
---

.fluid-video
  iframe(width="725" height="408" src="//www.youtube.com/embed/qGz41xJtQ5Y" frameborder="0" allowfullscreen)
p style="padding-top: 5px;" Tire um raio-x do código para ver quais arquivos HTML estão sendo renderizados em uma página.

/(READMORE)/
p O <a href='https://github.com/brentd/xray-rails' target='_blank'>Xray-Rails</a> é uma nova ferramenta que mostra a estrutura do frontend interligada com o código Rails. Ele lhe ajuda a visualizar os <i>controllers</i>, <i>templates</i>, <i>partials</i> e até <i>backbone views</i>. 

p Quando você ativar a ferramenta vai aparecer retângulos vermelhos nas diferentes seções da página que você quer saber mais detalhes.

p Veja no video como funciona na prática.
