---
title: 'Pare de estudar e comece a fazer'
summary: 'Escolha um projeto que seja realmente importante para você e começe a fazer. Aprendizagem acontece no mundo real, em projetos que te inspiram.'
date: 2014-01-09
tags: startups, educação, inspire-se
author: 'julio'
thumb: 'http://blog.startae.com.br/images/articles/2014-01-09/bruce-lee.jpeg'
---

h2 Você nunca vai estar pronto. A melhor forma de aprender é trabalhar em algo inspirador.
.fluid-image
  br
  img.no-box-shadow src="/images/articles/2014-01-09/bruce-lee.jpeg" width="700" height="393"

p Escolha um projeto que seja realmente importante para você e começe a fazer. Aprendizagem acontece no mundo real, em projetos que te inspiram.
p Ainda não está pronto? Você nunca vai estar.
p Você recebeu educação em um sistema projetado para um mundo no qual era possível “estar preparado” após alguns anos de faculdade e alguns outros de treinamento profissional.
p O mundo mudou, mas o sistema educacional não. Esse sistema continua vendendo a ilusão de “se preparar” para um futuro que não pode ser previsto.
p Quando criamos a <a a href='http://aprenda.startae.com.br/?utm_source=blog_startae&amp;utm_medium=site&amp;utm_content=blog_post'>Superquadra</a>, nosso projeto de educação, nós decidimos que toda aprendizagem deve acontecer através de projetos realistas colocando a mão na massa.

blockquote Saber não é o bastante, temos que aplicar. Querer não é o bastante, temos que fazer. — Bruce Lee

h2 Programadores nunca estão prontos

p A velocidade das transformações está especialmente presente na carreira de designers e programadores que estão mergulhados nesse oceano de constante invoção.
p Para programar para a web por exemplo, é preciso saber no mínimo um pouco de frontend, portanto <b>HTML, CSS e JavaScript</b>. E naturalmente é essencial saber uma linguangem de servidor, portanto <b>Ruby, Pyhton</b> ou algo semelhante.
p Essas tecnologias nascem, evoluem e morrem constantemente. Você aprende <b>PHP</b> e anos depois descobre que pode ser 10 vezes mais produtivo com <b>Ruby on Rails</b>.
p O ecossistema que envolve <b>CSS</b> e <b>JavaScript</b> evoluiu tanto nos últimos anos que um ótimo programador frontend em 2010 é um programador frontend medíocre em 2013.
p Com a morte do <b>Flash</b>, vai também o <b>ActionScript</b> que você estudou com tanta dedicação. Ao mesmo tempo, os aplicativos para <b>iPhone</b> viram moda e <b>Objective-C</b> começa a fazer parte do seu dia-a-dia.
p Não é possível estar tecnicamente pronto e preparado. Apenas atualizado.

h2 Cada nova aprendizagem é a ponta de um iceberg
p A medida que você assume projetos maiores, o código começa ficar mais complexo e você descobre que escrever código para o computador não é o objetivo final. Você precisa escrever código para que outros programadores leiam e entendam.
p Nessa fase você mergulha em mais um oceano de aprendizagens, <b>Arquitetura de Software Orientado a Objetos, Design Patterns, Refactoring e Test Driven Development</b> mudam seu jeito de pensar e programar. Os projetos que antes pareciam gigantes por causa da complexidade agora ficam pequenos, simples e elegantes como todo software deve ser.

h2 Novos desafios e novas aprendizagens
p Agora que você sabe transformar ideias complexas em código simples e elegante, você assume projetos ainda maiores. E com novos desafios, vem novos problemas. Em projetos maiores, “meter as caras” já não é o bastante. Você descobre que alguns projetos precisam ser gerenciados.
p Mais oportunidades para aprender. Dessa vez você se apaixona por <b>Agile, eXtreme Programming, Kanban, Continuous Deployment e Lean</b>.

h2 A armadilha
p Para apaixonados por aprender e descobrir coisas novas, essa carreira é a aventura perfeita. Mas essa necessidade constante de aprendizagem guarda uma armadilha perigosa. Quando aprender se torna um fim e não um meio, você passa a tomar péssimas decisões, como trabalhar em projetos pela aprendizagem.
p O principal resultado de um projeto precisa ser impacto gerado e grana no bolso. Aprendizagem é um brinde que já vem incluso em todos os projetos desafiadores e inspiradores.
p <b>Então escolha um projeto que te desafie, inspire e comece agora!</b>
