---
title: 'Falamos no Correio Braziliense sobre inovação dentro das empresas com design de serviços e lean startup'
summary: 'Fomos entrevistados pelo Correio Braziliense para falar sobre como o design de serviços e o lean startup estão mudando as empresas ao redor do mundo e como estamos atuando aqui no Brasil.'
date: 2014-02-10
tags: novidades, press
author: 'renato'
thumb: 'http://blog.startae.com.br/images/articles/2014-02-10/startae-materia-correio-braziliense-inovacao--capa.jpg'
---
p Semana passada fomos entrevistados pelo <a href='http://www.correiobraziliense.com.br' target='_blank'>Correio Braziliense</a> para falar sobre como o <b>design de serviços</b> e o <b>lean startup</b> estão ajudando empresas ao redor do mundo a inovar e como estamos atuando com estas ferramentas aqui no Brasil.

.align-center
  a href='/images/articles/2014-02-10/startae-materia-correio-braziliense-inovacao--full.jpg' target='_blank'
    img src="/images/articles/2014-02-10/startae-materia-correio-braziliense-inovacao--capa.jpg" width="728"
  p.caption Matéria no jornal Correio Braziliense (09/02/2014): "Brasil dá os primeiros passos"
/READMORE/


