---
title: 'Evento Abril Pro Ruby 2014'
summary: 'Entre os dias 24 e 27 de abril vai rolar o Abril Pro Ruby (www.abrilproruby.com/pt) na praia de Porto de Galinhas e vai reunir grandes nomes da comunidade Ruby de empresas como Github, Shopify e Living Social.'
date: 2014-04-02
tags: eventos, programacao, ruby on rails
author: 'renato'
thumb: 'http://blog.startae.com.br/images/articles/2014-04-02/abril-pro-ruby.png'
---

.fluid-image
  br
  img.no-box-shadow src="/images/articles/2014-04-02/abril-pro-ruby.png" width="700" height="auto"

p Somos fãs do Ruby on Rails e utilizamos em todos os nossos projetos por uma série de razões. Diferente de outras linguagens e frameworks, o Rails foi projetado para aumentar a felicidade dos designers e programadores. Por ser ao mesmo tempo fácil de aprender e muito produtivo, o Rails acabou se tornando a ferramenta preferida entre as startups.

span SPLIT_SUMMARY_BEFORE_THIS

p E é por isso que botamos muita fé em todo movimento que contribua para a comunidade aqui no Brasil.

h2 Abril Pro Ruby 2014

p Entre os dias <b>24 e 27 de abril</b> vai rolar o <b><a href="www.abrilproruby.com/pt" target='_blank'>Abril Pro Ruby</a></b> na praia de Porto de Galinhas e vai reunir grandes nomes da comunidade Ruby de empresas como <b>Github</b>, <b>Shopify</b> e <b>Living Social</b>. Ao todo, serão 12 palestras, 3 workshops e 4 atividades, como mergulho e passeio de jangada.

p Veja as informações completas no site do <b><a href="www.abrilproruby.com/pt" target='_blank'>Abril Pro Ruby</a></b>.

p
  | <b>Evento:</b> Abril Pro Ruby 2014<br>
  | <b>Datas:</b> 24 a 27 de abril<br>
  | <b>Locais:</b> Recife e Porto de Galinhas, Pernambuco<br>
  | <b>Inscrições:</b> <a href="http://www.eventick.com.br/abrilproruby" target='_blank'>www.eventick.com.br/abrilproruby</a><br>
  | <b>Mais informações:</b> <a href="http://www.abrilproruby.com/pt" target='_blank'>www.abrilproruby.com/pt</a>


