---
title: 'Metodologias Ágeis para Emagrecimento'
summary: 'Designer e empresário, Rafael Torales mostra como essas metodologias lhe ajudaram a perder 20kg no mesmo ano em que abria sua empresa.'
date: 2014-01-06
tags: eventos, dicas, inspire-se
author: 'Rafael Torales'
author_link: 'https://twitter.com/rafaeltorales'
thumb: 'http://i1.ytimg.com/vi/ucw3Aw4gqe0/maxresdefault.jpg'
---

p Primeira segunda-feira do ano, dia de começar a correr atrás das metas de 2014. Que tal utilizar as Metodologias Ágeis para te ajudar a alcançá-las de verdade? Nesse vídeo, eu mostro como elas me ajudaram a perder 20kg no ano passado!
.fluid-video
  iframe(width="725" height="408" src="//www.youtube.com/embed/ucw3Aw4gqe0" frameborder="0" allowfullscreen)
