---
title: 'Novo Maker no Startaê!'
summary: 'Após 2 anos de Startaê, estamos dando um passo que pode parecer comum, mas que para nós é um passo muito importante: Adicionamos um novo membro a família Startaê. Nos ajudem a dar as boas vindas ao Rafael Mezzomo, nosso novo maker e desenvolvedor Rails/Javascript.'
date: 2014-06-11
tags: novidades, cultura
author: 'rafael'
thumb: 'http://blog.startae.com.br/images/articles/2014-06-11/welcome-rafael-mezzomo.jpg'
---

.fluid-image
  img.no-box-shadow src="/images/articles/2014-06-11/welcome-rafael-mezzomo.jpg" width="700" height="auto"

p Após 2 anos de Startaê, estamos dando um passo que pode parecer comum, mas que para nós é um passo muito importante: Adicionamos um novo membro a família Startaê. Nos ajudem a dar as boas vindas ao Rafael Mezzomo, nosso novo maker e desenvolvedor Rails/Javascript.

span SPLIT_SUMMARY_BEFORE_THIS

p Mezzomo nos chamou a atenção pela sua sede de conhecimento. Mas mais do que isso, pela sua sede de colocar seus conhecimentos em ação. Uma vontade enorme de fazer a diferença no mundo.
p Em um mundo onde o sucesso de uma empresa na maioria das vezes é medido pela quantidade de funcionários, nós acreditamos em outro caminho. Acreditamos que mais importante que o tamanho do time é ter profissionais extremamente competentes, que amam o que fazem e queiram deixar uma marca no mundo. Somos um time feito de pessoas, não de cargos.

p: b Seja muito bem-vindo ao time, Mezzomo!

.fluid-image
  img.no-box-shadow src="/images/articles/2014-06-11/startae-team.jpg" width="700" height="auto"
