---
title: 'Olá Dribbble!'
summary: 'Agora temos a nossa conta no Dribbble. O Dribbble é uma comunidade de designers e profissionais criativos. Um espaço para compartilhar trabalhos em andamento, processos, aprendizados e também receber feedback.'
date: 2014-02-24
tags: novidades, design
author: 'renato'
thumb: 'http://blog.startae.com.br/images/articles/2014-02-24/ola-dribbble.png'
---

.fluid-image
  br
  img.no-box-shadow src="/images/articles/2014-02-24/ola-dribbble.png" width="700" height="368"
p Agora temos a nossa conta no Dribbble e já mandamos alguns shots.

span SPLIT_SUMMARY_BEFORE_THIS

p O Dribbble é uma comunidade de designers e profissionais criativos. Um espaço para compartilhar trabalhos em andamento, processos, aprendizados e também receber feedback.

p Acompanhe o que a gente anda fazendo aqui <a href='http://dribbble.com/startae' target='_blank'>dribbble.com/startae</a>. Se você tem uma conta no Dribbble, não esquece de seguir a gente!
br
a class="embedly-card" data-card-chrome="0" href="http://drbl.in/kbuy" Olá Dribbble
javascript:
  !function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b,d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}}(document);



